{% extends "layout.html" %}

{% block title %}
     stores page
{% endblock %}

{% block content %}
   <div>
    <form method="post">
      {% csrf_token %}
      {{form.as_p}}
      <button class="px-4 py-2 bg-blue-400 m-4 rounded-sm" type="submit">Search Stores</button>
    </form>
   </div>
   
{% if stores %}

   <div class="grid grid-cols-3 gap-4">
      {% for store in stores %}
         <div class="bg-gray-200 p-4 rounded-md">
         <p>
            <strong>Store Name:</strong>{{store.name}}
            <strong>Location:</strong>{{store.location}}
         </p>
         </div>
      {% endfor %}
   </div>
   {% endif %}
    
{% endblock %}
